# neglecting bigger files
Project 1/*.avi
Inference_yolo/Data/*
Inference_yolo/Model/YoloV3/*.weights
Inference_yolo/Model/YoloV3-tiny/*.weights
Project 2/*.avi
Project 2/*.mp4
django_aws/webcam/streaming/static/images/*
Object detection/data/*
Object detection/Object_detection_TestSet/*
Object detection/Yolo/*.weights
Nosql/.ipynb_checkpoints
pyspark_practice/.ipynb_checkpoints
pyspark_practice/basic_data_exploration_user_profile.ipynb
pyspark_practice/data_exploration_play_counts.ipynb
NLP/.ipynb_checkpoints
OpenAI\Quickstart\openai-quickstart-python\.env
OpenAI/langchain/.env
# django_aws/webcam/*.sqlite3
Hugging_face/transformers
OpenAI\Quickstart_\*
Multi Camera Threading\app\demo\base\settings\models\*
Multi Camera Threading\app\demo\base\settings\videos\*