# neglecting bigger files
Project 1/*.avi
Inference_yolo/Data/*
Inference_yolo/Model/YoloV3/*.weights
Inference_yolo/Model/YoloV3-tiny/*.weights
Project 2/*.avi
Project 2/*.mp4
django_aws/webcam/streaming/static/images/*
Object detection/data/*
Object detection/Object_detection_TestSet/*
Object detection/Yolo/*.weights
Nosql/.ipynb_checkpoints
# django_aws/webcam/*.sqlite3